## <span style="color:green;font-family:verdana">By using function apply (svm,knn,logistic regression,decision tree)algorithm on weather.csv dataset and find the accuracy of all ml algorithm and also find the mean of accuracy</span>

#### import the necessary liberary

In [1]:
import pandas as pd
import sklearn as sns

#### load the csv file

In [2]:
df=pd.read_csv("weather.csv")

#### print the top five line of dataset

In [3]:
df.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

#### Print the bottom five line of dataset

In [4]:
df.tail()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
361,9.0,30.7,0.0,7.6,12.1,NNW,76.0,SSE,NW,7.0,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
362,7.1,28.4,0.0,11.6,12.7,N,48.0,NNW,NNW,2.0,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
363,12.5,19.9,0.0,8.4,5.3,ESE,43.0,ENE,ENE,11.0,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
364,12.5,26.9,0.0,5.0,7.1,NW,46.0,SSW,WNW,6.0,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
365,12.3,30.2,0.0,6.0,12.6,NW,78.0,NW,WNW,31.0,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No

#### print the columns

In [5]:
df.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

#### check for the null values

In [6]:
df.isnull().sum()

MinTemp           0
MaxTemp           0
Rainfall          0
Evaporation       0
Sunshine          3
WindGustDir       3
WindGustSpeed     2
WindDir9am       31
WindDir3pm        1
WindSpeed9am      7
WindSpeed3pm      0
Humidity9am       0
Humidity3pm       0
Pressure9am       0
Pressure3pm       0
Cloud9am          0
Cloud3pm          0
Temp9am           0
Temp3pm           0
RainToday         0
RISK_MM           0
RainTomorrow      0
dtype: int64

#### Remove all the null values

In [7]:
df=df.dropna(axis=0)

In [8]:
df.isnull().sum()

MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

#### check for the duplicate values

In [9]:
df.duplicated().sum()

0

#### check for the datatype of columns

In [10]:
df.dtypes

MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm       int64
Humidity9am        int64
Humidity3pm        int64
Pressure9am      float64
Pressure3pm      float64
Cloud9am           int64
Cloud3pm           int64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

#### perform encoding on RainTomorrow column

In [11]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()

In [12]:
df["RainTomorrow"]=label_encoder.fit_transform(df["RainTomorrow"])

In [13]:
df["WindGustDir"]=label_encoder.fit_transform(df["WindGustDir"])

In [14]:
df["WindDir9am"]=label_encoder.fit_transform(df["WindDir9am"])

In [15]:
df["WindDir3pm"]=label_encoder.fit_transform(df["WindDir3pm"])

In [16]:
df["RainToday"]=label_encoder.fit_transform(df["RainToday"])

In [17]:
df.dtypes

MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir        int64
WindGustSpeed    float64
WindDir9am         int64
WindDir3pm         int64
WindSpeed9am     float64
WindSpeed3pm       int64
Humidity9am        int64
Humidity3pm        int64
Pressure9am      float64
Pressure3pm      float64
Cloud9am           int64
Cloud3pm           int64
Temp9am          float64
Temp3pm          float64
RainToday          int64
RISK_MM          float64
RainTomorrow       int64
dtype: object

#### check the correlation of all column with the RainTomorrow column

In [18]:
correlation=df[['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine','WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm','WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm','Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am','Temp3pm', 'RainToday', 'RISK_MM',]].corrwith(df["RainTomorrow"])
correlation

MinTemp          0.246593
MaxTemp          0.066585
Rainfall         0.147208
Evaporation      0.098546
Sunshine        -0.375677
WindGustDir      0.053668
WindGustSpeed    0.255739
WindDir9am      -0.050714
WindDir3pm       0.038562
WindSpeed9am     0.093142
WindSpeed3pm     0.067102
Humidity9am      0.202549
Humidity3pm      0.341880
Pressure9am     -0.365426
Pressure3pm     -0.412798
Cloud9am         0.288504
Cloud3pm         0.372255
Temp9am          0.194892
Temp3pm          0.033183
RainToday        0.179199
RISK_MM          0.683561
dtype: float64

#### Drop the column having low correlation with RainTomorrow

In [19]:
df=df.drop(["Sunshine","WindDir9am","Pressure9am","Pressure3pm"],axis=1)

#### describe the dataset

In [20]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,WindGustDir,WindGustSpeed,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
count,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000
mean,7.742988,20.897561,1.440854,4.702439,6.192073,40.396341,7.512195,10.414634,18.185976,71.100610,44.003049,3.905488,4.000000,12.815549,19.556402,0.185976,1.422561,0.182927
std,5.945199,6.707310,4.289427,2.681183,4.337765,13.132176,4.560819,7.811544,8.926759,12.983367,16.605975,2.974957,2.652101,5.542521,6.644311,0.389681,4.234023,0.387197
min,-5.300000,7.600000,0.000000,0.200000,0.000000,13.000000,0.000000,2.000000,4.000000,36.000000,13.000000,0.000000,0.000000,0.100000,5.100000,0.000000,0.000000,0.000000
25%,2.850000,15.500000,0.000000,2.550000,2.000000,31.000000,4.000000,6.000000,11.000000,63.000000,32.000000,1.000000,1.000000,8.175000,14.500000,0.000000,0.000000,0.000000
50%,7.900000,20.400000,0.000000,4.400000,6.500000,39.000000,7.000000,7.000000,17.000000,71.000000,42.500000,4.000000,4.000000,13.500000,18.850000,0.000000,0.000000,0.000000
75%,12.800000,25.800000,0.200000,6.600000,8.000000,46.000000,13.000000,13.000000,24.000000,80.000000,54.000000,7.000000,7.000000,17.200000,24.225000,0.000000,0.200000,0.000000
max,20.900000,35.800000,39.800000,13.800000,15.000000,98.000000,15.000000,41.000000,52.000000,99.000000,93.000000,8.000000,8.000000,24.700000,34.500000,1.000000,39.800000,1.000000

#### information of dataset

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 328 entries, 0 to 365
Data columns (total 18 columns):
MinTemp          328 non-null float64
MaxTemp          328 non-null float64
Rainfall         328 non-null float64
Evaporation      328 non-null float64
WindGustDir      328 non-null int64
WindGustSpeed    328 non-null float64
WindDir3pm       328 non-null int64
WindSpeed9am     328 non-null float64
WindSpeed3pm     328 non-null int64
Humidity9am      328 non-null int64
Humidity3pm      328 non-null int64
Cloud9am         328 non-null int64
Cloud3pm         328 non-null int64
Temp9am          328 non-null float64
Temp3pm          328 non-null float64
RainToday        328 non-null int64
RISK_MM          328 non-null float64
RainTomorrow     328 non-null int64
dtypes: float64(9), int64(9)
memory usage: 48.7 KB

#### split the independent and dependent data

In [22]:
x=df[['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation','WindGustDir', 'WindGustSpeed', 'WindDir3pm','WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am','Temp3pm', 'RainToday', 'RISK_MM']]
y=df["RainTomorrow"]

In [23]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC   
from sklearn.tree import DecisionTreeClassifier
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#### check accuracy of model by using various ML algorithm

In [24]:

def train_and_predict(models, x, y):
    # Split the dataset into training and testing sets
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
    
    accuracies = {}  # Dictionary to store the accuracies of each model
    
    for model_name, model in models.items():
        # Train the model
        model.fit(x_train, y_train)
        
        # Make predictions on the testing set
        y_pred = model.predict(x_test)
        
        # Calculate accuracy
        accuracy = accuracy_score(y_test, y_pred)
        
        accuracies[model_name] = accuracy
    
    return accuracies

# Assuming you have loaded the dataset and prepared the features (x) and labels (y)

# Create instances of the models
logistic_regression = LogisticRegression()
random_forest = RandomForestClassifier()
support_vector_machine = SVC(kernel="linear")
decision_tree_classifier = DecisionTreeClassifier()

# Define the models dictionary
models = {
    'Logistic Regression': logistic_regression,
    'Random Forest': random_forest,
    'Support Vector Machine': support_vector_machine,
    'Decision Tree Classifier': decision_tree_classifier
}

# Function to get accuracies for all models
def get_all_model_accuracies(models_dict, x, y):
    accuracies = train_and_predict(models_dict, x, y)
    return accuracies

# Call the function to get accuracies for all models
all_accuracies = get_all_model_accuracies(models, x, y)

# Convert accuracy dictionary to an array
accuracy_array = np.array(list(all_accuracies.values()))

# Calculate the mean accuracy
mean_accuracy = np.mean(accuracy_array)

# Print the accuracies
for model_name, accuracy in all_accuracies.items():
    print(f'{model_name} Accuracy: {accuracy}')

# Print the mean accuracy
print("\nMean Accuracy:", mean_accuracy)

Logistic Regression Accuracy: 0.9696969696969697
Random Forest Accuracy: 0.9545454545454546
Support Vector Machine Accuracy: 0.9696969696969697
Decision Tree Classifier Accuracy: 1.0

Mean Accuracy: 0.9734848484848485